
.sas {
  background-image: url("./assest/Rectangle 11.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.sas1 {
  background-image: url("./assest/4683.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.sas2 {
  background-image: url("./assest/businessman-business-sketch.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 550px;
  z-index: -1;
}
.sas3 {
  background-image: url("./assest/cybercrime2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 550px;
  z-index: -1;
}
.sas4 {
  background-image: url("./assest/Real-Estate-Investment-Dropping.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 550px;
  z-index: -1;
}
.viewall {
  font-size: 24px;
  color: blue;
  border: 1px solid blue;
  padding: 8px 64px;
  border-radius: 8px;
}
.for1 {
  background-image: url("./assest/Rectangle 13 11.59.34 PM.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.navbar {
  /*border-radius: 30px;*/
  border-radius: 15px;
}
a:hover {
  border-bottom: 3px solid rgb(32, 80, 201);
}
.hov:hover {
  transform: scale(1.25);
}